.footer {
  width: 100%;
  min-height: 5vh;
  background-image: linear-gradient(
    to right,
    #159238,
    #006d1f,
    #006d1f,
    #006d1f,
    #159238
  );
  color: azure;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  /* position: relative; */
  /* bottom: 0; */
}

.footer p {
  display: flex;
  align-items: center;
}

.footer span {
  font-weight: 600;
}
