.navbar {
  background-image: linear-gradient(
    to right,
    #159238,
    #006d1f,
    #006d1f,
    #006d1f,
    #159238
  );
  min-height: 5vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.navbar img {
  width: 110px;
  display: flex;
  padding: 4% 0;
}

.navbar ul {
  height: max-content;
  font-size: 1em;
  display: flex;
  list-style: none;
  font-weight: bold;
}

.navbar ul li a {
  color: azure;
  cursor: pointer;
  padding: 0.3em 1em;
  text-decoration: none;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: #032b0e;
  font-size: 1.1em;
  background-color: #2eea63;
}

.navbar div {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.navbar div svg {
  color: azure;
  font-size: 2em;
}

.navbar div svg:hover {
  color: black;
  background-color: #2eea63;
  height: 100%;
  cursor: pointer;
}
