.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min_height {
  min-height: 80%;
}

.start {
  justify-content: flex-start;
}

.around {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
